<div class="d-flex flex-column h-100">
  <main class="flex-shrink-0">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container px-5">
        <a class="navbar-brand" href="index.html">Movie Mania</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pricing.html">Latest Movies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="review-movie">Newsletter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="login">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="signup">Sign Up</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>

    <!-- Header-->
    <!-- <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 align-items-center justify-content-center">
                    <div class="col-lg-8 col-xl-7 col-xxl-6">
                        <div class="my-5 text-center text-xl-start">
                            <h1 class="display-5 fw-bolder text-white mb-2">Movie Mania</h1>
                            <p class="lead fw-normal text-white-50 mb-4">Get unbiased and honest reviews from the world's most discerning movie critics on our movie critique system, helping you make informed decisions before hitting the theaters</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                                <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://source.unsplash.com/wMkaMXTJjlQ/600x400" alt="..." /></div>
                </div>
            </div>
        </header> -->
  </main>
</div>
