<div class="body">
  <section class="h-100">
      <!-- <div [ngStyle]="{'color': 'blue'}">Hello</div> -->
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
              <div class="card card-registration my-4">
                <div class="row g-0">
                  <div class="col-xl-6 d-none d-xl-block">
                    <img src="https://source.unsplash.com/rAomxXulMNM"
                      alt="Sample photo" class="img-fluid"
                      style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                  </div>
                  <form class="col-xl-6">
                   
                    <div class="card-body p-md-5 text-black">
                        <div class="mb-2">
                            <span class="h1 fw-bold mb-0">Movie Mania</span>
                        </div>
                      <h3 class="mb-5 text-uppercase">Sign up Form
                      </h3>
      
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-outline">
                            <input type="text" id="form3Example1m" class="form-control form-control-lg"  name="fname" required minlength="3" placeholder="Enter First Name" />
                            <label class="form-label" for="form3Example1m">First name</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-outline">
  
                            <input type="text" id="form3Example1n" class="form-control form-control-lg" name="lname" required minlength="3" placeholder="Enter Last Name" />
                            <label class="form-label" for="form3Example1n">Last name</label>
                          </div>
                        </div>
                      </div>
      
                      <div class="form-outline">
  
                        <input type="email"  name="email" id="form3Example97" class="form-control form-control-lg" placeholder="Enter Email ID: " />
                        <label class="form-label" for="form3Example97">Email ID</label>
                      </div>
    
                      <div class="form-outline mb-4">
                        <div class="form-outline">
                          <input name="pwd" type="password" id="password" class="form-control form-control-lg" placeholder="Enter the Password: " />
                          <label class="form-label" for="password">Password</label>
                        </div>
    
                        <div class="form-outline mb-4">
                        <div class="form-outline">
                            <input name="phone" required minlength="8" inputmode="numeric" placeholder="Enter Phone Number: " type="number" id="number" class="form-control form-control-lg" />
                            <label class="form-label" for="number">Phone Number</label>
                        </div>
                        </div>
    
    
                      <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
      
                        <h6 class="mb-0 me-4">Gender: </h6>
      
                        <div class="form-check form-check-inline mb-0 me-4">
                          <input class="form-check-input" type="radio"  name="gender" id="female" value="female"  />
                          <label class="form-check-label" for="female">Female</label>
                        </div>
      
                        <div class="form-check form-check-inline mb-0 me-4">
                          <input class="form-check-input" type="radio" name="gender" id="male" value="male" id="male"
                             />
                          <label class="form-check-label" for="male">Male</label>
                        </div>
      
                        <div class="form-check form-check-inline mb-0">
                          <input class="form-check-input" type="radio"  name="gender" id="other" value="other" />
                          <label class="form-check-label" for="other">Other</label>
                        </div>
      
                      </div>
    
      
                      </div>
      
                      <div class="d-flex justify-content-end pt-3">
                        <button type="button" class="btn btn-warning btn-lg ms-2">Submit form</button>
                      </div>
      
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</div>