<section class="main-container">
    <div class="main-container-child">
            <div class="movie">
              <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRSq36oa8TyohKys1NJ9r8nuGul28jotqtPTtB4cL_Wa8Bz8fb0" alt="Movie Image" style="width:100%;height:300px;">
                  </div>
                  <div class="flip-card-back">
                    <h1>Thank You</h1> 
                    <p>Release date: 25 October 2022 (India)</p>
                    <p>Director: Indra Kumar</p>
                    <p>Distributed by: AA Films/p>
                    <p>Running Time: 2h 1m </p><br>
                    <p>Ratings: 5.6/10</p>
                  </div>
              </div>
          </div>
        </div>

          <div class="movie">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="https://m.media-amazon.com/images/M/MV5BM2QzM2JiNTMtYjU4Ny00MDZkLTk3MmUtYTRjMzVkZGJlNmYyXkEyXkFqcGdeQXVyMTUzNTgzNzM0._V1_FMjpg_UX1000_.jpg" alt="Movie Image" style="width:100%;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h1>Pathaan</h1> 
                  <p>Release date: 25 January 2023 (India)</p>
                  <p>Director: Siddharth Anand</p>
                  <p>Distributed by: Yash Raj Films</p>
                  <p>Running Time: 2h 26m </p><br>
                  <p>Ratings: 6.6/10</p>
                </div>
            </div>
        </div>
      </div>

          <div class="movie">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="https://m.media-amazon.com/images/M/MV5BZGIwNWFhOGYtNjFmMi00ZWJjLWE0ZTEtODg3OWE1Y2M0NzVmXkEyXkFqcGdeQXVyMTMxODA4Njgx._V1_FMjpg_UX1000_.jpg" alt="Movie Image" style="width:100%;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h1>Varisu</h1> 
                  <p>Release date: 11 January 2023 (India)</p>
                  <p>Director: Vamshi Paidipally</p>
                  <p>Distributed by: Seven Screen Studio, Red Giant Movies</p>
                  <p>Running Time: 2h 49m </p><br>
                  <p>Ratings: 6.6/10</p>
                </div>
            </div>
        </div>
      </div>

        <div class="movie">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="https://i.ytimg.com/vi/9qojNZne9uI/maxresdefault.jpg" alt="Movie Image" style="width:100%;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>Brahmāstra: Part One – Shiva</h1> 
                <p>Release date: 9 September 2022 (India)</p>
                <p>Director: Ayan Mukerji</p>
                <p>Distributed by: Star Studios, 20th Century Studios, Walt Disney Studios Motion Pictures</p>
                <p>Running Time: 2h 47m </p><br>
                <p>Ratings: 5.6/10</p>
              </div>
          </div>
        </div>
        </div>

        <div class="movie">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="https://i.ytimg.com/vi/VgGgYOzNWno/maxresdefault.jpg" alt="Movie Image" style="width:100%;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>Ram Setu</h1> 
                <p>Release date: 25 October 2022 (India)</p>
                <p>Director: Abhishek Sharma</p>
                <p>Distributed by: Zee Studios</p>
                <p>Running Time: 2h 23m </p><br>
                <p>Ratings: 5.2/10</p>
              </div>
          </div>
        </div>
        </div>

        <div class="movie">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="https://img1.hotstarext.com/image/upload/f_auto,t_web_m_1x/sources/r1/cms/prod/5112/1455112-h-d61280c52c02" alt="Movie Image" style="width:100%;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>Black Panther: Wakanda Forever</h1> 
                <p>Release date: 11 November 2022 (India)</p>
                <p>Director: Ryan Coogler</p>
                <p>Running Time: 2h 41m </p><br>
                <p>Ratings: 6.9/10</p>
              </div>
          </div>
        </div>
        </div>

        <div class="movie">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="https://cdn.zeebiz.com/sites/default/files/2021/01/31/139768-kgf.jpg" alt="Movie Image" style="width:100%;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>K.G.F: Chapter 2</h1> 
                <p>Release date: 14 April 2022 (India)</p>
                <p>Director: Prashanth Neel</p>
                <p>Running Time: 2h 48m </p><br>
                <p>Ratings: 8.3/10</p>
              </div>
          </div>
        </div>
        </div>

        <div class="movie">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="https://m.media-amazon.com/images/M/MV5BODUwNDNjYzctODUxNy00ZTA2LWIyYTEtMDc5Y2E5ZjBmNTMzXkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_FMjpg_UX1000_.jpg" alt="Movie Image" style="width:100%;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1> RRR</h1> 
                <p>Release date: 24 March 2022</p>
                <p>Director: S. S. Rajamouli</p>
                <p>Running Time: 3h 2m </p><br>
                <p>Ratings: 7.9/10</p>
              </div>
          </div>
        </div>
        </div>

        <div class="movie">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="https://pinkroom-main.s3.amazonaws.com/a4feef18-18e9-45a9-b50c-3b6b035ed342.jpg" alt="Movie Image" style="width:100%;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>Shershaah</h1> 
                <p>Release date: 12 August 2021</p>
                <p>Director: Vishnuvardhan</p>
                <p>Running Time: 2h 15m </p><br>
                <p>Ratings: 8.4/10</p>
              </div>
          </div>
        </div>
      </div>
          </div>
</section>
